<nav>
    <div class="nav-container">
        <a href="/" class="nav-brand">
            <img
                src="https://www.bmw.com/etc.clientlibs/settings/wcm/designs/bmwcom/base/resources/ci2020/img/logo-bmw-com-gray.svg"
                alt="BMW Logo"
                class="nav-logo"
            />
            BMW Inventory
        </a>
        <ul class="nav-links">
            <li>
                <a
                    href="/parts"
                    class="nav-link <%= (typeof currentPath !== 'undefined' && currentPath.startsWith('/parts')) ? 'active' : '' %>"
                    >Parts</a
                >
            </li>
            <li>
                <a
                    href="/part-categories"
                    class="nav-link <%= (typeof currentPath !== 'undefined' && currentPath.startsWith('/part-categories')) ? 'active' : '' %>"
                    >Categories</a
                >
            </li>
            <li>
                <a
                    href="/car-models"
                    class="nav-link <%= (typeof currentPath !== 'undefined' && currentPath.startsWith('/car-models')) ? 'active' : '' %>"
                    >Models</a
                >
            </li>
            <li>
                <a
                    href="/car-trims"
                    class="nav-link <%= (typeof currentPath !== 'undefined' && currentPath.startsWith('/car-trims')) ? 'active' : '' %>"
                    >Trims</a
                >
            </li>
        </ul>
    </div>
</nav>
